# New Section

In [1]:
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

In [2]:
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [3]:
downloaded = drive.CreateFile({'id':'1cbTXKkgnS_8yUdbwk0dOUHvEFYd_JEe0'}) 
downloaded.GetContentFile('filtered_data.csv')

In [5]:
import numpy as np
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

df = pd.read_csv('filtered_data.csv')
df.head()

   Unnamed: 0  Rooms  Type  ...  Longtitude  Regionname  Propertycount
0           0      2     0  ...    144.9984           2         4019.0
1           1      2     0  ...    144.9934           2         4019.0
2           2      3     0  ...    144.9944           2         4019.0
3           3      3     0  ...    144.9969           2         4019.0
4           4      4     0  ...    144.9941           2         4019.0

[5 rows x 18 columns]

In [6]:
df.tail()

       Unnamed: 0  Rooms  Type  ...  Longtitude  Regionname  Propertycount
13575       13575      4     0  ...   145.16761           4         7392.0
13576       13576      3     0  ...   144.87904           6         6380.0
13577       13577      3     0  ...   144.88738           6         6380.0
13578       13578      4     0  ...   144.89299           6         6380.0
13579       13579      4     0  ...   144.88449           6         6543.0

[5 rows x 18 columns]

In [8]:
X = df.drop(['Price'], axis="columns")
X.head()

   Unnamed: 0  Rooms  Type  ...  Longtitude  Regionname  Propertycount
0           0      2     0  ...    144.9984           2         4019.0
1           1      2     0  ...    144.9934           2         4019.0
2           2      3     0  ...    144.9944           2         4019.0
3           3      3     0  ...    144.9969           2         4019.0
4           4      4     0  ...    144.9941           2         4019.0

[5 rows x 17 columns]

In [9]:
y = df['Price']
y.head()

0    1480000.0
1    1035000.0
2    1465000.0
3     850000.0
4    1600000.0
Name: Price, dtype: float64

In [10]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [14]:
from sklearn.linear_model import LinearRegression

clf = LinearRegression()

clf.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [15]:
clf.score(X_test, y_test)

0.537118533463006

In [16]:
from sklearn.tree import DecisionTreeRegressor

dtr = DecisionTreeRegressor()

dtr.fit(X_train, y_train)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

In [17]:
dtr.score(X_test, y_test)

0.5295073277865239

In [20]:
from sklearn.ensemble import RandomForestRegressor

rfr = RandomForestRegressor()

rfr.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [21]:
rfr.score(X_test, y_test)

0.7485969705445144